/*

    IMPORTAZIONE VARIABILI

*/

@import '/src/assets/scss/partials/variables.scss';

/*

    GENERALS

*/

@mixin main-anchor-style {
    background-color: $color-one;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}

@mixin main-span-style {
    color: $color-one;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(214,230,230,1) 50%);
    border-radius: 5px;
}

@mixin secondary-span-style {
    color: $color-one;
    background: #E2E3E7;
    background: linear-gradient(180deg, #E2E3E7 50%, rgba(214,230,230,1) 50%);
    border-radius: 5px;
}

@mixin tertiary-span-style {
    color: white;
    background: rgb(13,26,41);
    background: linear-gradient(180deg, rgba(13,26,41,1) 50%, rgba(16,75,85,1) 50%);
    border-radius: 5px;
}
/*

    EXCELLENCE

*/

@mixin single-services-card {
    width: calc((100% / 3) - 30px);
    margin: 15px 15px;
    padding: 20px;
    height: 250px;
    background-color: $color-four;

}

/*

    THE COMPANY

*/

@mixin company-style {
    background: rgb(14,27,42);
    background-image: url('/public/images/about-4.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
    display: flex;
    align-items: center;
}

/*

    ACIONS PROJECT

*/

@mixin single-project {
    width: calc((100% / 3) - 20px);
    height: 300px;
    margin: 15px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

@mixin info-container {
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #2241506d;
    color: #B3B8C5;
}

@mixin button {
    text-decoration: none;
    color: $color-one;
    border: 0;
    background: none;
}

/*


    RESULTS


*/

@mixin results-bg {
    background-image:
    linear-gradient(77deg,
    rgba(14,27,42,0.3), 
    rgba(23,58,81,0.2)), 
    url('/public/images/bg-7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0;

}

@mixin technologies {
    background: rgb(14,27,42);
    background: linear-gradient(77deg, rgba(14,27,42,1) 0%, rgba(23,58,81,1) 100%);
    padding: 100px 0;
}

@mixin tech-container-img {
    width: 100px;
    filter: brightness(1000%);
}

@mixin bullets-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -125%);
    filter: brightness(0) saturate(100%) invert(27%) sepia(23%) saturate(1455%) hue-rotate(138deg) brightness(89%) contrast(86%);
}

/*


    FORM


*/

@mixin input-style {
    background-color: #EFEFEF;
    border-width: 0px;
    border-radius: 5px;
    padding: 12px 24px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@mixin button-form-style {
    text-decoration: none;
    color: white;
    background-color: $color-one;
    border-radius: 20px;
    border: none;
    padding: 8px 24px;
}

@mixin icon-container {
    background-color: #E3F3F2;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@mixin button-info {
    border-radius: 18px;
    border: none;
    padding: 8px 24px;
    background-color: #E3F3F2;
    color: $color-one;
}

@mixin form-container {
    background-image: url('/public/images/geom-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0; 
}