* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.my-container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    height: 130px;
}

footer {
    height: 670px;
}