/*

    PALETTE

*/

$color-one: #058283;
$color-two: #606D75;
$color-three: #E2E3E7;
$color-four: #EBECEF;
$color-five: #03A6A6;
$color-six: #E2E3E7;
$color-seven: #D9F2F2;
$color-eight: #0D1B2A;

/*

    PARAGRAFI

*/

$main-text-color: #7E888D;

/*

    TITLES

*/

$title-1: #22333E;
$title-3-size: 50px;
$title-5-size: 24px;

/*


    JUMBO


*/

$jumbo-hg: calc(100vh - 130px);


/*


    EXCELLENCE


*/

$filter-svg-color: brightness(0) saturate(100%) invert(44%) sepia(99%) saturate(5164%) hue-rotate(162deg) brightness(87%) contrast(96%);
$color-hover-arrow: #03a6a6c5; 

/*


    THE COMPANY


*/

$company-cards-wd: calc((100% / 2) - 20px);

/*


    FORM SECTION


*/


$hover-btn-form-color: #E3F3F2;
$hover-input-form-color: #E8E8E8;
$i-form-color: #E3F3F2;


/*


    OFFCANVAS


*/

$input-search-off-color: #E1E1E1;

/*

    FOOTER

*/

$footer-text-color: #8F93A5;